@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "montserrat", sans serif;

}

li.nav-item {
    color: #2065db !important;
    font-size: 20px;
}

/* Header */

.navbar-title {
    text-align: center;
    position: fixed;

}

.nav-link {
    color: #8E9AAF !important;
}

.bg-light {
    background-color: #DEE2FF !important;
}

.navbar-light .navbar-brand {
    display: inline-block;
    color: #8E9AAF;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 3rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

/* about */

#about {
    background-color: #EFD3D7 !important;
}

.heading {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .2em;
}

#photographer-image {
    border: 10px solid transparent;
    border-radius: 5px;
    border-color: #CBC0D3;
}

#photographer-info {
    color: #8E9AAF;
}


/* Portfolio */

#portfolio {
    background-color: #EFD3D7;
    padding-top: 60px;
}

.portfolio-title {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .2em;

}

.portfolio {
    margin: 10px;
    border: 10px solid transparent;

    border-color: #CBC0D3;
    border-radius: 5px;
}

/* Pricing */

#prices {
    background-color: #EFD3D7;
    padding-top: 60px;
}

.pricing-title {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .2em;
}

.price-box {}

.card {
    background-color: #DEE2FF;
    color: #8E9AAF;
}

.card h3 {
    font-size: 1.2em;
    text-align: center;
}

.card p {
    font-size: 1.5em;
    text-align: center;
}


/* Contact Form*/

#contact {
    background-color: #EFD3D7;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-title {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 70px;
    padding-bottom: 20px;
    letter-spacing: .2em;
}

.btn-block {
    background-color: #8E9AAF;
    width: 20%;
    border-style: none;
}

.btn-primary {
    color: #FEEAFA;
}

.form-control {
    background-color: #DEE2FF;
}

.form-label {
    color: #8E9AAF;
}


/* footer */

footer {
    margin-top: 50px;
    background-color: #DEE2FF;
    height: 70px;
}



.social-media {
    text-align: center;
    list-style: none;
}

.social-media li {
    display: inline;
    padding: 5%;
}

.social-media i {
    color: #8E9AAF;
    font-size: 200%;
    padding: 2%;


}