@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body    {
    font-family: "montserrat", sans serif;
    
}

li.nav-item {
    color: #8E9AAF !important;
    font-size: 20px;
}

/* Header */

.navbar-title{
    text-align: center;
    position: fixed;
    background-color: #3be687 !important;
}




.nav-link {
    color: #8E9AAF !important;
}   

.bg-light {
    background-color: #EFD3D7 !important;
}
.navbar-light .navbar-brand  {
    display: inline-block;
    color: #8E9AAF;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 3rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

/* about */

.heading {
    padding-left: 90px;
    border-style: solid;
    border-color: #3be687;
    margin-top: 50px;
    margin-left: 40px;
}