@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "montserrat", sans serif;

}

li.nav-item {
    color: #2065db !important;
    font-size: 20px;
}

/* Header */

.navbar-title {
    text-align: center;
    position: fixed;
    
}

.nav-link {
    color: #8E9AAF !important;
}

.bg-light {
    background-color: #DEE2FF !important;
}

.navbar-light .navbar-brand {
    display: inline-block;
    color: #8E9AAF;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 3rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

/* about */

#about {
    background-color: #EFD3D7 !important;
}

.heading {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .2em;
}

#photographer-image {
    border: 10px solid transparent;
    border-radius: 5px;
    border-color: #CBC0D3;
}

#photographer-info {
    color: #8E9AAF;
}


/* Portfolio */

#portfolio {
    background-color: #EFD3D7;
    padding-top: 60px;
}

.portfolio-title    {
    text-align: center;
    color: #8E9AAF !important;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .2em;
    border: 10px solid transparent;
}

.portfolio {
    margin: 10px;
    border: 10px solid transparent;

    border-color: #CBC0D3;
    border-radius: 5px;
}